.toggle-button {
	-fx-background-color: #3638ad;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill:  #194B86;
}
.button:pressed {
    -fx-background-color: #1c1cb0;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #194B86; 
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
}



/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color:  #adc1ff;
    -fx-text-fill: white;
}
/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color:  #adc1ff;
    -fx-text-fill: white;
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color:  #adc1ff;
    -fx-text-fill: white;
}

/* Selected row hovered */
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background-color:  #adc1ff;
    -fx-text-fill: white;
}

/* Selected row hovered when table not focused */
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color:  #adc1ff;
    -fx-text-fill: white;
}
.root {
	
     -fx-background-color: #ffffff;
     fx-background-repeat: stretch;   
    -fx-background-size: 1500 1000;
    -fx-background-position: center center;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:  #194B86;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: #06036b;
}